// app styles
.app {
    
    &__body{
        width: 100%;
        height: calc(100vh - 200px);
        background-image: url('./assets/img/ts_bg.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-color: $blue-base;
        opacity: 0.15;
    }
}