extends layout

block content
    div.container
        div.page-header
            h1 Something went wrong!
        p.lead The page you are looking for no longer exists. Please click on the button below to go back to the Home page.
        p
            a.btn.btn-default(href="/", role="button") &laquo; Back