extends layout

block content

    //------------------------------------------------------------------------------------------------------------------
    // Marketing messaging and featurettes
    //------------------------------------------------------------------------------------------------------------------
    div.container.marketing
        div.row
            div.col-lg-4
                img.img-circle(src="/images/heading01.jpg", alt="Generic placeholder image", title="Generic placeholder image", width="140", height="140")
                h2 Heading
                p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
                p
                    a.btn.btn-default(href="#", role="button") View details &raquo;
            div.col-lg-4
                img.img-circle(src="/images/heading02.jpg", alt="Generic placeholder image", title="Generic placeholder image", width="140", height="140")
                h2 Heading
                p Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
                p
                    a.btn.btn-default(href="#", role="button") View details &raquo;
            div.col-lg-4
                img.img-circle(src="/images/heading03.jpg", alt="Generic placeholder image", title="Generic placeholder image", width="140", height="140")
                h2 Heading
                p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                p
                    a.btn.btn-default(href="#", role="button") View details &raquo;

        hr.featurette-divider

        div.row.featurette
            div.col-md-7
                h2.featurette-heading First featurette heading.
                    span.text-muted  It'll blow your mind.
                p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
            div.col-md-5
                img.featurette-image.img-responsive.center-block(data-src="holder.js/500x500/auto", src="/images/featurette01.jpg", alt="Generic placeholder image", title="Generic placeholder image")

        hr.featurette-divider

        div.row.featurette
            div.col-md-7.col-md-push-5
                h2.featurette-heading Oh yeah, it's that good.
                    span.text-muted  See for yourself.
                p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
            div.col-md-5.col-md-pull-7
                img.featurette-image.img-responsive.center-block(data-src="holder.js/500x500/auto", src="/images/featurette02.jpg", alt="Generic placeholder image", title="Generic placeholder image")

        hr.featurette-divider

        div.row.featurette
            div.col-md-7
                h2.featurette-heading And lastly, this one.
                    span.text-muted  Checkmate.
                p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
            div.col-md-5
                img.featurette-image.img-responsive.center-block(data-src="holder.js/500x500/auto", src="/images/featurette03.jpg", alt="Generic placeholder image", title="Generic placeholder image")