{{#toDoListApp}}
<div class="toDoListApp">
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="javascript:void();" class="brand-logo">&nbsp;&nbsp;{{name}}</a>
            </div>
        </nav>
    </header>

    <main>
        <br/>
        <div class="row">
            <div class="col s12">
                <h5>{{taskListTitle}}</h5>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <table class="striped highlight">
                    <thead>
                        <tr>
                            <th class="actions">&nbsp;</th>
                            <th class="numbers">#</th>
                            <th>Task Name</th>
                        </tr>
                    </thead>

                    <tbody id="taskList">
                        <tr>
                            <td>
                                <button class="btn-floating btn-delete-task waves-effect waves-light black" type="button">
                                    <i class="material-icons">delete</i>
                                </button>
                            </td>
                            <td class="numbers">1</td>
                            <td>Task 1</td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn-floating btn-delete-task waves-effect waves-light black" type="button">
                                    <i class="material-icons">delete</i>
                                </button>
                            </td>
                            <td class="numbers">2</td>
                            <td>Task 2</td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn-floating btn-delete-task waves-effect waves-light black" type="button">
                                    <i class="material-icons">delete</i>
                                </button>
                            </td>
                            <td class="numbers">3</td>
                            <td>Task 3</td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn-floating btn-delete-task waves-effect waves-light black" type="button">
                                    <i class="material-icons">delete</i>
                                </button>
                            </td>
                            <td class="numbers">4</td>
                            <td>Task 4</td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn-floating btn-delete-task waves-effect waves-light black" type="button">
                                    <i class="material-icons">delete</i>
                                </button>
                            </td>
                            <td class="numbers">5</td>
                            <td>Task 5</td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn-floating btn-delete-task waves-effect waves-light black" type="button">
                                    <i class="material-icons">delete</i>
                                </button>
                            </td>
                            <td class="numbers">6</td>
                            <td>Task 6</td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn-floating btn-delete-task waves-effect waves-light black" type="button">
                                    <i class="material-icons">delete</i>
                                </button>
                            </td>
                            <td class="numbers">7</td>
                            <td>Task 7</td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn-floating btn-delete-task waves-effect waves-light black" type="button">
                                    <i class="material-icons">delete</i>
                                </button>
                            </td>
                            <td class="numbers">8</td>
                            <td>Task 8</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </main>

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                </div>
                <div class="col l4 offset-l2 s12">
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                André Rosa 2018
                <a class="grey-text text-lighten-4 right" href="https://github.com/andreros" target="_blank">andreros@github</a>
            </div>
        </div>
    </footer>
</div>
{{/toDoListApp}}