<td>
    <button class="btn-floating btn-delete-task waves-effect waves-light black" type="button">
        <i class="material-icons">delete</i>
    </button>
</td>
<td class="taskNumber numbers"></td>
<td class="taskName">{{taskName}}</td>
