{{#aboutWindow}}
<div class="aboutWindow">
    <header>
        <nav>
            <div class="nav-wrapper blue darken-1">
                <a href="javascript:void();" class="brand-logo">&nbsp;&nbsp;{{title}}</a>
            </div>
        </nav>
    </header>

    <main>
        <br/>
        <div class="row">
            <div class="col s12 center-align">
                <h5>{{appTitle}}</h5>
                <p>{{{appDescription}}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 right-align">
                <button id="closeBtn" class="btn waves-effect waves-light blue" type="button">{{close}}</button>
            </div>
        </div>
    </main>
</div>
{{/aboutWindow}}
