.jsonPlaceholderApp {

    nav {
        .material-icons {
            margin-left: 30px;
        }
    }

    main {
        height: calc(100vh - 64px - 91px);
    }

    table {

        tbody {
            display: block;
            height: calc(100vh - 64px - 91px - 200px);
            overflow-y: scroll;
        }

        thead,
        tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed;
        }

        .actions {
            width: 50px;
            word-break: keep-all;
            white-space: nowrap;
        }

        .numbers {
            width: 50px;
            word-break: keep-all;
            white-space: nowrap;
            text-align: center;
        }

        .material-icons {
            font-size: 1.4rem;
        }
    }
}