<td class="actions">
    <button class="btn-floating btn-view-post waves-effect waves-light black" type="button" data-id="{{postId}}">
        <i class="material-icons">remove_red_eye</i>
    </button>
</td>
<td class="postId numbers">{{postId}}</td>
<td class="postTitle">{{postTitle}}</td>
