{{#header}}
    <header class="header__wrapper">
        <div class="header__logo_wrapper">
            {{#logo}}
            <img class="header__logo" src="{{src}}" alt="{{alt}}">
            {{/logo}}
        </div>
        <div class="header__title_wrapper">
            {{!-- This is an handlebars helper usage example --}} {{!-- debug this --}}
            {{> components/header/_title}}
        </div>
    </header>
{{/header}}